<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>Flavi's Page</h1>
            <p>An introductory website.</p>
        </div>
        <!-- nav -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Home</a>
            <a routerLink="about">About</a>
            <a routerLink="history">History</a>
            <a routerLink="contact">Contact</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <a href="https://www.linkedin.com/in/flavius-ardelean-714a5b150/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a routerLink="contact"><i class="bi bi-telephone"></i></a>
            <a href="https://discord.com/" target="_blank"><i class="bi bi-discord"></i></a>
            <a href="mailto:flavius_ardelean2002@yahoo.com" target="_blank"><i class="bi bi-envelope-fill"></i></a>
        </div>
    </div>
</div>