<div class="container mt-5 mb-5">
    <h1 class="text-center">Contact<br><br></h1>
        <div class="row mt-5">
        <!--one-->
        <div class="col-lg-3 mt-5">
            <div class="stepBox">
                <a href="https://www.linkedin.com/in/flavius-ardelean-714a5b150/" target="_blank">LinkedIn</a>
                <p>My profile.</p>
            </div>
        </div>
        <!--two--> 
        <div class="col-lg-3 mt-5">
            <div class="stepBox">
                <a routerLink="contact">Phone</a>
                <p>0745 953 654</p>
            </div>
        </div>
        <!--three-->
        <div class="col-lg-3 mt-5">
            <div class="stepBox">
                <a href="https://discord.com/" target="_blank">Discord</a>
                <p>Nappi#0006</p>
            </div>
        </div>
        <!--three-->
        <div class="col-lg-3 mt-5">
            <div class="stepBox">
                <a href="mailto:flavius_ardelean2002@yahoo.com" target="_blank">Mail</a> 
                <p>flavius_ardelean2002@yahoo.com</p>
            </div>
        </div>
        </div>

</div>