<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Hello! I am a student learning International Business Administration in Cluj, looking to start my career in the field of Computer Science. As it is often said, the beginning is the most difficult, starting out as a Software Engineer, and I am eagerly looking for a place to start working at and do my utmost. I have graduated as an Automation and Informatics Engineer, and I have a good base of knowledge in C++, Python, Object Oriented Programming, Databases, as well as logical thinking and a very problem-solving oriented mindset. I speak fluent Romanian, English and Hungarian, beginner-level German and a little bit of French. It would be my pleasure to be educated in the workings of Computer Science and I'm willing to learn anything and everything related to this wonderful field, about which I have been passionate for as long as I can remember.
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To create through development software and applications that help other people, in a virtual environment is something that I have always been passionate about, and I am most confident that through my ability to adapt and my deep, intense thirst of knowledge, I am going to bring great contributions to any team that I'd have the honour of being placed in, among any group of like-minded people who strive to perfect the art of Software Development!
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Two branches that I am particularly passionate about are Game Development, as well as Artificial Intelligence. When it comes to games, they have been a part of my life and one of my greatest sources of fun, entertainment and good memories, therefore I'd like to one day offer such a contribution to other people as well. As for AI, I can see the limitless potential that it has to offer to Humanity, and I strongly believe that one day, perhaps in the very distant future, perhaps sooner than anyone would expect, it is going to revolutionize the world and shake the foundations unto which it stands in the present. Regardless, Software Engineering is a gateway towards such technologies, and an environment which enables these two great passions of mine to exist, alongside many other, most important influences in our day to day life.
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thank you very much for taking the time to read about myself, I am looking forward to any potential wishes of contacting me.
    <br>
    <br>
     - Flavi.

    </p>


</div>